<div class="tam container-fluid my-3 position-relative tam">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="text-center display-4 fw-bold">Just Do It</h1>
    <p class="txt fs-4">
      Bienvenido a Just Do It una plataforma de Crowdfunding donde puesdes
      publicar tu proyecto para recibir un apoyo economico. Si eres de las
      personas que les gusta ayudar, tambien puedes hacerlo.
      <br />
      <br />
      No importa si te gusta ayudar o si necesitas ayuda, este es un espacio
      para ambos tipos de persona.

      <br />
      <span class="text-center d-block"
        >¡Haz que tu idea se haga realidad o ayuda a alguien mas hacerlo!</span
      >
    </p>

  </div>
  <div class="w-25 p-2 bg-success ">
    <ul class="fs-5 ">
      <p class="fs-2 ">Proyecto hecho por:</p>
      <li class="text-decoration-none">Andres David Guevara Hernandez</li>
      <li>Juan Diego Patiño Bastidas</li>
    </ul>
  </div>
  
</div>
